.battle-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* Set the image as a fixed background  */
    background: url("/src/assets/models/environ/scene.jpeg") no-repeat center center fixed;
    background-size: cover;
  }
  
  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }

  
  .loading {
    color: white;
    font-size: 1.5em;
    text-align: center;
  }

  .fallback-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .fallback-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .fallback-container p {
    font-size: 1.2rem;
  }